/* static/css/styles.css */

body {
    padding-top: 20px;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-img-container {
    position: relative;
}

.card-rating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: right;
}
